header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #23d4c6;
    border-bottom: solid 1px #23d4c6;
    box-shadow: 0 2px 3px 0 #23d4c6;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: monospace;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;

}

.logoGima {
    width: 10rem;
}